name: release 

on:
  release:
    types:
      - published
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: build 
      run: |
        ./build.sh
    - name: upload PAL PRG
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: application/SID-Wizard-1.8.prg
        asset_name: vessel-sid-wizard.prg
        asset_content_type: application/octet-stream
    - name: upload PAL D64 disk1
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: application/SID-Wizard-1.8-disk1.d64
        asset_name: vessel-sid-wizard-disk1.d64
        asset_content_type: application/octet-stream
